@import "tailwindcss";
@plugin "tailwindcss-motion";

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}        


@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
  
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}


body {
  @apply bg-neutral-950 text-zinc-100
}
